<div class="principal" data-aos="fade-up">

    <h1 class="text-center mb-3 fs-1">HABILIDADES</h1>

    

    <div class="mb-5"  >
        <h3 class="text-center mb-3">FrontEnd Development</h3>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Angular</p> 
                <img class="logo" src="../../../assets/lenguajes_librerias/ang.png" alt="">
            </div>

            <div class="tecnologia " data-aos="flip-up" >
                <p class="text-white text-center ">Java-script</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/java-script.png" alt="">
            </div>
        </div>
    </div>


    <div class="mb-5"  >
        <h3 class="text-center mb-3">Backend Development</h3>
        <div class="d-flex flex-wrap justify-content-evenly">  
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Spring boot</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/spring-logo23.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Node js</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/nodeJs.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Dart</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/Dart_logo.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Java</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/java.png" alt="">
            </div>
        </div>
    </div>

    <div class="mb-5"  >
        <h3 class="text-center mb-3">Manejo de Data Base</h3>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Mysql</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/mysql.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Postgresql</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/postg.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Oracle</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/Oracle.png" alt="">
            </div>
        </div> 
    </div>

    <div class="mb-5"  >
        <h3 class="text-center mb-3">herramientas de programación </h3>
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="tecnologia " data-aos="flip-up">
                <p class="text-white  text-center ">Html</p>
                <img class="logo   " src="../../../assets/lenguajes_librerias/html.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
            <p class="text-white text-center ">Css3</p> 
            <img class="logo" src="../../../assets/lenguajes_librerias/css-3.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Bootstrap</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/bootstrap.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Git</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/git.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
            <p class="text-white text-center ">Git hub</p> 
            <img class="logo" src="../../../assets/lenguajes_librerias/github (1).png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center">PrimeNg</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/primeng.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
                <p class="text-white text-center ">Angular Material</p>
                <img class="logo" src="../../../assets/lenguajes_librerias/material.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
            <p class="text-white text-center ">Animaciónes y efectos</p> 
            <img class="logo" src="../../../assets/lenguajes_librerias/aosv2.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
            <p class="text-white text-center ">Postman</p> 
            <img class="logo" src="../../../assets/lenguajes_librerias/postman2.png" alt="">
            </div>
            <div class="tecnologia" data-aos="flip-up">
            <p class="text-white text-center ">Visual basic</p> 
            <img class="logo" src="../../../assets/lenguajes_librerias/vba.png" alt="">
            </div>
        </div>
    </div>
</div>
