<div class="principal pt-5 pb-5 d-flex flex-wrap justify-content-evenly align-items-center" >
  
    <div class="cont1" data-aos="fade-up"data-aos-duration="2000">
   
         <h1 class=" fw-bold">SOBRE MÍ </h1>

        <p class="text-white   fw-bold" >Mi nombre es Carlos Paredes, tengo 27 años de edad, soy 
            Tecnólogo Superior en Análisis de Sistema del Instituto Superior Tecnológico del
            Azuay, soy una persona con énfasis en aprender la programación FrontEnd, soy
            apasionado por el aprendizaje, organizado y con una gran motivación, soy capaz de
            adaptarme a cualquier circunstancia y dar siempre lo mejor de mí en cualquier
            proyecto, al mismo tiempo que me esfuerzo por trabajar en equipo y fomentar
            valores como los del compañerismo, me encantaría poder entrar a formar parte de
            una empresa en la que pueda aplicar todos mis conocimientos y, al mismo tiempo,
            que me permita desarrollarme profesionalmente.
        </p>
    </div>

    <div class="cont2" data-aos="fade-up"data-aos-duration="2000">
    <!--  data-aos="fade-left" data-aos-offset="500" data-aos-easing="ease-in-sine"> -->
        <h1  class=" fw-bold mb-3 cont2Title">Datos Personales</h1>
        <div class=" d-flex flex-wrap justify-content-between align-items-center info" >
            <div class="subContent me-5">
                <h4 class="  fw-bold">Educación</h4>
                <p class="text-white">Tecnología en análisis de sistemas (2022)</p>
                <p class="text-white">Nivel A2 inglés</p>

                <h4 class="  fw-bold">Email</h4>
                <p class="text-white">carlosparedesg1520@gmail.com</p>
            </div>

            <div class="subContent ps-5" id="ss">
                <h4 class="  fw-bold">Nacionalidad</h4>
                <p class="text-white">Ecuatoriano</p>

                <h4 class="  fw-bold">Celular</h4>
                <p class="text-white">+593 0980565694</p>


            </div>
        </div>

        <div  class=" d-flex  justify-content-center mt-3 " data-aos="fade-down"data-aos-duration="2000"  >
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                visualizar cv
            </button>
        </div>
       
    </div>
   
</div>     

  <!-- Ventana modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Hoja de vida</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body cv">
            <object data="" type="application/pdf" data="../../../assets/hoja de vida-Carlos Paredes-DEV.pdf" class="cv"></object> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>