.opcion, .opcionMenu{
    font-family: "Lucida Console", "Courier New", monospace;
}

.opcion {
	z-index:1;
	filter:alpha(opacity=70);
	-moz-opacity:.70;
	opacity:.70;
}

.opcion:hover {
	opacity: 100;
}


.liOpcion:hover {
    border-bottom: 3px solid rgba(154, 154, 154, 0.5);
   
    transition: all .7s ease;

}


@media screen and (max-width:991px) {
    .opcion{
        font-size: 34px;
        margin-top: 10%;
    }

    /* .liOpcion:hover {
        background-color: orange!important;
    } */

    /* .liOpcion {
        z-index:1;
        filter:alpha(opacity=70);
        -moz-opacity:.70;
        opacity:.70;
    } */

    .liOpcion:hover {
        background-color:rgba(154, 154, 154, 0.5) !important;
  
    }
    
}