<h1 class=" text-center fw-bold fs-1 mb-4">PORTAFOLIO</h1>
<h3 class="text-center text-white mb-4 mt-2">Proyectos hechos en angular</h3>
 <!-- SECCIÓN PORTAFOLIO -->
 <section  class="portafolio">
    <div class="container ">
        <div class="d-flex flex-wrap justify-content-center align-items-center " > 
                
                <div class="proyecto mb-3 me-3 " data-aos="zoom-out" data-aos-duration="1500">
                    <div class="fotog" >
                        <img src="../../../assets/proyectos/pagina-web-1.png" alt="" class="img-cont">
                        <div class="overlay ">
                            <h3 class="titulo">LABORATORIO ODONTOLOGICO</h3>
                            <p class="subt">Prevención, diagnóstico y tratamientos odontológicos, pagina responsible e interactiva</p>
                        </div>
                    </div>

                    <div class="d-flex  justify-content-evenly mt-2">
                        <a target="_blank" type="button" class="btn btn-outline-light " href="https://github.com/CarlosParedes1520/Pagina-web-Odontologia">Código<i class="fa-sharp fa-solid fa-file-code ms-2"></i></a>
                        <a target="_blank" type="button" class="btn btn-outline-light " href="https://golden-pithivier-73aa8e.netlify.app/page/home" ><i class="fa-solid fa-pager me-2"></i>Web</a>
                        <!-- <a href="#" class="botonesia">Código <i class="fa-solid fa-code"></i></a>
                        <a href="https://developer-info.000webhostapp.com/Coffee%20Express/Index.php"class="botonesia">Demo <i class="fa-solid fa-eye"></i></a> -->
                    </div>
                    
                </div>

                
                <div class="proyecto mb-3 me-3 " data-aos="zoom-out" data-aos-duration="1500">
                    <div class="fotog">
                        <img src="../../../assets/proyectos/juego21.png" alt="" class="img-cont">
                        <div class="overlay">
                            <h3 class="titulo">Juego de cartas Blackjack </h3>
                            <p class="subt">El Blackjack juego de cartas que consiste en sumar un valor lo más próximo a 21 pero sin pasarse, pagina responsible e interactiva</p>
                        </div>
                    </div>
                    <div class="d-flex  justify-content-evenly mt-2">
                        <a target="_blank" type="button" class="btn btn-outline-light " href="https://github.com/CarlosParedes1520/blackjack-juego-21-">Código<i class="fa-sharp fa-solid fa-file-code ms-2"></i></a>
                        <a target="_blank" type="button" class="btn btn-outline-light " href="https://juego21angular.netlify.app/"><i class="fa-solid fa-pager me-2"></i>Web</a>
                    </div>
                </div>

                
                
                <div class="proyecto mb-3 me-3 " data-aos="zoom-out" data-aos-duration="1500">
                    <div class="fotog">
                        <img src="../../../assets/proyectos/heroesApp.png" alt="" class="img-cont">
                        <div class="overlay">
                            <h3 class="titulo">CRUD Liga de la justicia </h3>
                            <p class="subt">Liga de la Justicia y personajes de Marvel, pagina responsible e interactiva </p>
                        </div>
                    </div>
                    <div class="d-flex  justify-content-evenly mt-2">
                        <a target="_blank" type="button" class="btn btn-outline-light " href="https://github.com/CarlosParedes1520/Super-Heroes">Código<i class="fa-sharp fa-solid fa-file-code ms-2"></i></a>
                        <a target="_blank" type="button" class="btn btn-outline-light " href="https://ligadelajusticiaapp.netlify.app/"><i class="fa-solid fa-pager me-2"></i>Web</a>
                    </div>
                </div>
                
                
                <div class="proyecto mb-3 me-3 " data-aos="zoom-out" data-aos-duration="1500">
                    <div class="fotog">
                        <img src="../../../assets/proyectos/Tsombrero.png" alt="" class="img-cont">
                        <div class="overlay">
                            <h3 class="titulo">Diseño web de una tienda de sombreros </h3>
                            <p class="subt">Tienda de sombreros donde se selecciona el producto y sus carracteristicas y se vincula por WhatsApp </p>
                        </div>
                    </div>
                    <div class="d-flex  justify-content-evenly mt-2">
                        <a target="_blank" type="button" class="btn btn-outline-light " href="https://github.com/CarlosParedes1520/tienda_sombreros">Código<i class="fa-sharp fa-solid fa-file-code ms-2"></i></a>
                        <a target="_blank" type="button" class="btn btn-outline-light " href="https://sombreropanamahat.netlify.app/"><i class="fa-solid fa-pager me-2"></i>Web</a>
                    </div>
                </div>
        </div>

        
    </div>
</section>
